<% if @result %>
    <p>あなたの<%= @class_num.classnum %>科目のGPAは</p>
    <p><%= @gpa %>です</p>
<% end %>

<%= form_tag('/calculate/confirm', method:"post") do %>
    <input type="submit" value="成績の確認を終了する">
<% end %>