<h1 class="app-title"><span class="fas fa-calculator"></span>GPA Calculat0r</h1>
<p class="app-description">Lets calculate your GPA</p>
<img src="/images_use/daigaku_toudai.png">

<!--トップページからログインページに移動してユーザー登録を行う-->

